
.collapse{
    background-color: #F6F6F6;
    border-radius: 0.5rem;

    &__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 1rem;
        align-items: center;
        border-radius: 0.3rem;
        font-size: 1.3rem;
        font-weight: 600;
        background-color: #FF6060;
        color: #fff;
        height: 3rem;
        @media screen and (max-width: 768px) {
            font-size: 1rem;
            height: 2.5rem;
            
        }

        //animation des chevrons
        &--up{
            cursor: pointer;
             transform: rotate(0deg);
             transition: transform 0.3s ease-in-out;
             
        }

        &--down{
            cursor: pointer;
             transform: rotate(180deg);
        }
    }

    &__content{
        border-radius: 0.5rem;
        padding: 0 1rem;
        background-color: #F6F6F6;
        //animation de l'ouverture de la collapse   
        overflow: hidden;
        max-height: 0;
        opacity: 1;
        transition: max-height 0.5s;
        
        &--open{
            opacity: 1;
            max-height: 500px; 
            transition: max-height  2s,
        }
        @media screen and (max-width: 768px) {
            font-size: 12px;
        }
    }
}